<footer>
    <div class="container">
        <div class="left-section">
            <div class="top">
                <img src="./footer/Vector.png" alt="logo">
                <p>Bistro Bliss</p>
            </div>
            <div class="middle">
                <p>In the new era of technology we look a in the future with certainty and pride to for our company and.</p>
            </div>
            <div class="social">
                
            </div>
        </div>
        <div>
    
        </div>
        <div>
    
        </div>
        <div>
    
        </div>
    </div>
</footer>
