<footer>
    <div class="container">
        <div class="left-section">
            <div class="left-top">
                <img src="./footer/Vector.png" alt="logo">
                <p>Bistro Bliss</p>
            </div>
            <div class="left-middle">
                <p>In the new era of technology we look a in the future with certainty and pride to for our company and.</p>
            </div>
            <div class="social">
                <img src="./footer/1.png" alt="twitter">
                <img src="./footer/2.png" alt="facebook">
                <img src="./footer/3.png" alt="instagram">
                <img src="./footer/4.png" alt="github">
            </div>
        </div>
        <div class="middle-section">
            <div style="padding-right:6vw">
                <p>Pages</p>
                <a href="http://">Home</a>
                <a href="http://">About</a>
                <a href="http://">Menu</a>
                <a href="http://">Pricing</a>
                <a href="http://">Blog</a>
                <a href="http://">Contact</a>
                <a href="http://">Delivery</a>
            </div>
            <div>
                <p>Utility Pages</p>
                <a href="http://">Start Here</a>
                <a href="http://">Styleguide</a>
                <a href="http://">Password Protected</a>
                <a href="http://">404 Not Found</a>
                <a href="http://">Licenses</a>
                <a href="http://">Changelog</a>
                <a href="http://">View More</a>
            </div>
        </div>
        <div class="right-section">
            <p>Follow Us On Instagram</p>
            <div>
                <img src="./footer/Mask group.png" alt="">
                <img src="./footer/Mask group (1).png" alt="">
                <img src="./footer/Mask group (2).png" alt="">
                <img src="./footer/Mask group (3).png" alt="">
            </div>
        </div>
    </div>
</footer>
