    <section class="menu-section">
        <p class="title">Our Menu</p>
        <p>We consider all the drivers of change gives you the components you need to change to create a truly happens.</p>

        <div class="filter-buttons">
            <button>All</button>
            <button>Breakfast</button>
            <button>Main Dishes</button>
            <button>Drinks</button>
            <button>Desserts</button>
        </div>

        <div class="menu-grid">
            @for(item of item; track $index)
            {
                <div class="menu-item">
                    <img [src]="item?.imageUrl">
                    <h3>{{item.name}}</h3>
                    <p>${{item.price}}</p>
                    <p>{{item.description}}</p>
                </div>
            }
        </div>
    </section>

