<nav>
    <header>
        <div class="container">
            <div class="left-section">
                <img src="./header/phone.png" alt="phone">
                <p>(414)857-0107</p>
                <img src="./header/mail.png" alt="mail" class="mail">
                <p>yummy&#64;bistrobliss</p>
            </div>
            <div class="right-section">
                <img src="./header/1.png" alt="twitter">
                <img src="./header/2.png" alt="facebook">
                <img src="./header/3.png" alt="instagram">
                <img src="./header/4.png" alt="github">
            </div>
        </div>
    </header>
    <div class="nav">
        <div class="nav-left-section">
            <img src="./header/japanese-food.png" alt="logo">
            <h1>Bistro Bliss</h1>
        </div>
        <div class="nav-mid-section">
            <a routerLink="" class="home">Home</a>
            <a href="http://">About</a>
            <a routerLink="/menu">Menu</a>
            <a href="http://">Pages</a>
            <a href="http://">Contact</a>
        </div>
        <div class="nav-right-section">
            <button>Book A Table</button>
        </div>
    </div>
</nav>
