<div class="main-section">
    <div class="title">
        <p class="header">Best food for</p>
        <p class="header" style="margin-bottom: 25px;">your taste</p>
        <p class="text">Discover delectable cuisine and unforgettable moments</p>
        <p class="text">in our welcoming, culinary haven.</p>
    </div>
    <div class="button">
        <button class="left-button">Book A Table</button>
        <button class="right-button">Explore Menu</button>
    </div>
    <img src="./Main/image110.png" alt="">
</div>