<div class="section">
    <div class="title">
        <p>Browse Our Menu</p>
    </div>
    <div class="cards">
        <div>
            <img src=".\firstsection\icon.png" alt="">
            <p class="category">Breakfast</p>
            <p>In the new era of technology we look in the future with certainty and pride for our life.</p>
            <a src="http://">Explore Menu</a>
        </div>
        <div>
            <img src=".\firstsection\icon (1).png" alt="">
            <p class="category">Main Dishes</p>
            <p>In the new era of technology we look in the future with certainty and pride for our life.</p>
            <a src="http://">Explore Menu</a>
        </div>
        <div>
            <img src=".\firstsection\icon (2).png" alt="">
            <p class="category">Drinks</p>
            <p>In the new era of technology we look in the future with certainty and pride for our life.</p>
            <a src="http://">Explore Menu</a>
        </div>
        <div>
            <img src=".\firstsection\icon (3).png" alt="">
            <p class="category">Desserts</p>
            <p>In the new era of technology we look in the future with certainty and pride for our life.</p>
            <a src="http://">Explore Menu</a>
        </div>
    </div>
</div>
